.profile {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 1024px) {
    .profile{
        flex-direction: row;
        align-items: center;
        margin-left: 200px;
    }
}