.header {
    padding-bottom: 31px;
    padding-top: 27px;
    padding-left: 27px;
    border-bottom: 1px solid #545454;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
   .header {
    margin: 0 200px;
    padding-bottom: 41px;
    padding-top: 45px;
   } 
}